################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ecomx/ecomx.Database/ecomx.Database.publish.xml
